/* Montserrat-Alt1 Font Family */
/* Custom version of Montserrat with alternative character styling */

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-Thin.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Alt1';
  src: url('/fonts/MontserratAlt1-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
