---
// Root docs - redirect to default locale (English)
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/en/docs">
  <link rel="canonical" href="/en/docs">
  <title>Redirecting to Documentation</title>
</head>
<body>
  <p>Redirecting to <a href="/en/docs">Documentation</a>...</p>
</body>
</html>
