---
// Root index - redirect to default locale (English)
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0;url=/en/">
  <link rel="canonical" href="/en/">
  <title>Redirecting to Backlog Chef</title>
</head>
<body>
  <p>Redirecting to <a href="/en/">English version</a>...</p>
</body>
</html>
